:root {
  --main-color: #b3b9ca;
  --font-color: #423f41;
  --accent-color: #d8868a;
  --bold-color: #d8868a;
  --secondary-bold-color: #d8868a;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.8;
}

#main {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 'header' 'main' 'footer';
}

header {
  background-color: var(--bold-color);
  grid-area: header;
}

main {
  background-color: var(--main-color);
  color: var(--font-color);
  grid-area: main;
  padding: 15px 5px 10px 5px;
  text-align: initial;
  overflow: auto;
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  font-weight: bold;
  color: var(--font-color);
  padding: 10px;
}

nav a.router-link-exact-active {
  color: var(--font-color);
}

footer {
  background-color: var(--bold-color);
  grid-area: footer;
}
